.mainmenu{
cursor:pointer;
width: 280px;
text-align:center;
padding:5px 12px 5px 10px;
background-color: #98BAC7;
margin-top: 20px;

font-family: "Sansation_Light";
-webkit-transition: width 0.8s,background-color 0.8s; /* Safari */
transition: width 0.8s, background-color 0.8s;	
}

@font-face{
 font-family: 'Sansation_Light';
    src: url('../font/SansationLight.eot');
    src: url('../font/SansationLight.eot?#iefix') format('embedded-opentype'),
         url('../font/SansationLight.woff') format('woff'),
         url('../font/SansationLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

/*    font-family: "Sansation_Light";
    src: url('../font/Sansation_Light.ttf'), url('../font/Sansation_Light.eot');*/
	
	
}

.anchorstyle{
text-decoration: none;
color: aliceblue;
padding-right: 20px;
}
.outermainmenu{
margin-left:-15px;
}

.outerleftsubmenu{
/*margin-top:40px;*/
float:left;
margin-left:10px;
 
}

.outerarrowsubmenu{
margin-top:-5px;
float:left;
background-color:#62B0B0;
box-shadow: -8px 0px 8px -4.9px #aaaaaa;
}



.submenu{
height:15px;
padding:5px 0px 5px 10px;
margin-top:2px;
margin-bottom:2px;
font-family: sans-serif;
background-color: #8C7C73;

-webkit-transition:background-color 0.5s; /* Safari */
transition:background-color 0.5s;
}





.submenu:hover{
-webkit-transition-timing-function: ease;
transition-timing-function: ease;
background-color:#C2916F;
}
.subarrowmenu{
width: 20px;
height:10px;
padding:5px 0px 5px 10px;
margin-top: 20px;	
}
 

/* Chrome, Safari, Opera */
@-webkit-keyframes mainmenuanime {
    from {width: 200px;background-color:cadetblue;}
    to {width: 250px;background-color:brown;}
}

/* Standard syntax */
@keyframes mainmenuanime {
   from {width: 200px;background-color:cadetblue;}
    to {width: 250px;background-color:brown;}
}

@-webkit-keyframes loaderanime {
    from {-webkit-filter: blur(5px);-moz-filter: blur(5px);filter: blur(5px);}
    to {-webkit-filter: blur(0px);-moz-filter: blur(0px);filter: blur(0px);}
}

/* Standard syntax */
@keyframes loaderanime {
   from {-webkit-filter: blur(5px);-moz-filter: blur(5px);filter: blur(5px);}
    to {-webkit-filter: blur(0px);-moz-filter: blur(0px);filter: blur(0px);}
}

.loader{
-webkit-animation: loaderanime 1s;
   -moz-animation: loaderanime 1s;
    -ms-animation: loaderanime 1s;
     -o-animation: loaderanime 1s;
    animation: loaderanime 2s;
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	filter: blur(0px);
}

.mainmenu:hover{
-webkit-transition-timing-function: ease;
transition-timing-function: ease;
    width: 250px;
	background-color:brown;
}

.active{
display:none !important;
}

.outerheadermenu{
margin-left: 40%;
}

#menubar{
/*background: -webkit-linear-gradient(#9B9B9B 30%,#828282 40%);
background: -o-linear-gradient(#9B9B9B 30%,#828282 40%);
background: -moz-linear-gradient(#9B9B9B 30%,#828282 40%);
background: linear-gradient(#9B9B9B 30%,#828282 40%);*/
background-color:#9CC2CF;
width: 100%;
height: 30px;
margin-top: -10px;
}


.menuliclass{
/*background: -webkit-linear-gradient(#828282 30% ,#9B9B9B 40%); 
background: -o-linear-gradient(#828282 30%, #9B9B9B 40%); 
background: -moz-linear-gradient(#828282 30%,#9B9B9B 40%);
background: linear-gradient(#828282 30%,#9B9B9B 40% );*/
background-color:#9CC2CF;
display:inline;
list-style-type:none;
padding: 8px 8px 8px 8px;
margin:1;
border-style:solid 5px black;

color: #787878;
outline-width: 5px;
}

.menuliclass:hover{

color:white;

}
.menuaclass{
color: #FAFAFA;
font-family: "Sansation_Light";
text-decoration: none;
padding: 6px 6px 8.5px 8.5px;
-webkit-transition:color 0.5s; /* Safari */
transition: color 0.5s;
}

.menuaclass:hover{
-webkit-transition-timing-function: ease;
transition-timing-function: ease;
color:brown;
}
.outermenu{
margin-left:35%;
}
.summarytable{
font-size:x-small;
font-family: "Sansation_Light";
color: grey;
}
body{
background-color: rgba(255,255,255,1);
background-color: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 56%, rgba(237,237,237,1) 92%, rgba(237,237,237,1) 93%);
background-color: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(56%, rgba(245,245,245,1)), color-stop(92%, rgba(237,237,237,1)), color-stop(93%, rgba(237,237,237,1)));
background-color: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 56%, rgba(237,237,237,1) 92%, rgba(237,237,237,1) 93%);
background-color: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 56%, rgba(237,237,237,1) 92%, rgba(237,237,237,1) 93%);
background-color: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 56%, rgba(237,237,237,1) 92%, rgba(237,237,237,1) 93%);
background-color: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 56%, rgba(237,237,237,1) 92%, rgba(237,237,237,1) 93%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
//background-color:#EEEEEE;
font-family: "Sansation_Light";

color: grey;
margin: 0;
margin-left:20px;
min-width:650px;
}
.loading {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background:
	url('../images/loading.gif')
	50% 50% no-repeat;
	opacity:0.8;
}

h2{
font-family: "Sansation_Light";
color: grey;
}
.submenu .anchorstyle{
font-size:11px;
}
.submenu .anchorstyle:hover{
color:white;
}




td{
border: 1px groove transparent;
-webkit-transition:color 0.5s, border 0.5s, background-color 0.5s; /* Safari */
transition: color 0.5s, border 0.5s, background-color 0.5s;
}

td:hover{
-webkit-transition-timing-function: ease;
transition-timing-function: ease;
   color:black;
  border: 1px groove transparent;
  background-color:#ffff;
   
}
.imagestyle{

width: 300px;
margin-left: 400px;
-webkit-transition: margin-left 0.5s, width 0.5s; /* Safari */
transition: margin-left 0.5s, width 0.5s;
}
.TableHeadingColor{
background-color:#C5C4C4;
}

.imagestyle:hover{
-webkit-transition-timing-function: ease;
transition-timing-function: ease;
width: 320px;
margin-left: 395px;
}
.spanclass{
color: rgb(189, 82, 5);
font-size: 17px;
}

.htmlclass{
-moz-box-shadow: -12px 0 9px -15px inset;
-webkit-box-shadow: -12px 0 9px -15px inset;
box-shadow: -12px 0 9px -15px inset;
}

.bodyclass{
background-color: rgb(200, 200, 200) !important;
margin-left:0px !important;
min-width:0px !important;
height:80%;
overflow-y:hidden;
}

.TableHeadingColor td font b{
font-size:18px;
margin-left:5%;
}

.inputbox{
font-family: "Sansation_Light";
padding-left:5px;
width: 250px;
height:25px;
color: black;
border: 1px solid rgba(5, 5, 5, 0.26);
margin-bottom: 10px;
margin-left: 10px;
background-color: rgba(255, 255, 255, 0.72);

}
.inputbox:focus{


border: 1px solid gray !important;
background-color: #EEEEEE;
}
#trashicon{
position: fixed;
margin-top: 1%;
margin-left: 2%;
cursor:pointer;
opacity:0.2;
-webkit-transition: opacity 0.5s; /* Safari */
transition: opacity 0.5s;
}

#trashicon:hover{
-webkit-transition-timing-function: ease;
transition-timing-function: ease;
opacity:1;
}

.searchbox{
/*position:fixed;*/
margin-top:40px;
}

table{
border-color:transparent !important;
}

code{
font-size:12px !important;
}
