#parse("fastform/MS_RGA/MS_RGA_COMMON_JS.js")

<script>
var g_sub_id,g_channel_id,g_alert_title;
var g_response_date='';
window.onbeforeunload = WindowCloseHanlder; 

F.onLoad(function()
{   
//var e1=document.getElementById("main_container");
//document.getElementById("main_container").style.width="900px;";

//e1.innerHTML="<div style="width:900px"></div>"

var elT=document.getElementById("MSAI_116");

        F.DD_PROCESS_CODE.write('MS_RGA_NOTIFY_USERS');
        F.DD_CURRENT_STAGE.write('CREATE_EDIT');
	g_edit_mode = F.getFormParameter("emd");
        //var url=top.previousPage;
        if (typeof this.href === "undefined") {
           url = document.location.toString();
	}
	else {
           url = this.href.toString();
	}
	arr=url.split("ChName/*-*/");
        //alert(chname1);
      	var chname1=arr[1];
        var chname=chname1.replace(/%20/g," ");
        //alert(chname);
        
//elT.innerHTML='${NotiUsrTitle}'+' '+' ' + chname +''+': ' +F.ALERT_TITLE.read()+   "<div class=\"msai_accordion_probable\" align=right><A href=\"javascript:fcancel()\"><IMG style=\"PADDING-RIGHT: 0px\" alt=\"Cancel the changes made to this form\" align=right src=\"/images/icons/cross.png\"></A> <A id=msai_submit href=\"javascript:fsubmit()\"><IMG alt=\"Submits for processing it to the next step\" align=right src=\"/images/icons/tick.png\"></A></div>"

elT.innerHTML= "<td> <div align=right><A id=msai_submit href=\"javascript:fsubmit()\"><IMG alt=\"Submits for processing it to the next step\"  src=\"/images/icons/tick.png\"></A><A href=\"javascript:fcancel()\"><IMG style=\"PADDING-RIGHT: 0px\" alt=\"Cancel the changes made to this form\"  align=right src=\"/images/icons/cross.png\"></A></div></td>"+elT.innerHTML ;




	F.CHANNEL_NAME.writeValue(chname, chname);
	
	F.CHANNEL_ID.disable();
	F.CHANNEL_NAME.disable();
	F.ALERT_TITLE.disable();
	F.RECEIVED_ON.disable();
	F.SUSB_RESPONSE_ID.disable();
	
	//F.ALERT_TITLE.makeLabelRequired();
	//F.CHANNEL_NAME.makeLabelRequired();
	//F.RECEIVED_ON.makeLabelRequired();
	//showToolbar_new();//alert(1);
//F.toolBar.updateTitle( '${NotiUsrTitle}'+' '+' ' + F.CHANNEL_NAME.read() +''+':' +F.ALERT_TITLE.read()); 



});
function trim(str) 
{
	return ltrim(rtrim(str));
}
 
function ltrim(str) 
{
	return str.replace(new RegExp("^[\\s]+", "g"), "");
}
 
function rtrim(str) 
{
	return str.replace(new RegExp("[\\s]+$", "g"), "");
}


F.onSubmit(function()
{
	var susers='';
	var ousers='';

	
	ousers=F.NOTIFY_OTHER_USERS.read();
	susers=F.NOTIFY_SYSTEM_USERS.read();

if(susers===""&& ousers===""){
alert("${NotiUsrValidateMsg}");
return false;
}
	if(ousers!=="")
	{
		
		var emails = F.NOTIFY_OTHER_USERS.read();
					var pattern1=/^([a-zA-Z0-9_.-])+@([a-zA-Z0-9_.-])+\.com+$/;
			var pattern2=/^([a-zA-Z0-9_.-])+@([a-zA-Z0-9_.-])+\.co+\.([a-zA-Z]{2})+$/;
		var emailsArr = emails.split(",");
			
			
		for(var i = 0; i < emailsArr.length ;i++){
			var mailId = emailsArr[i].trim();
			//alert("mail id" + emailsArr[i]);
				if(mailId !== "")
				{
					if(!pattern1.test(mailId)){					
						if(!pattern2.test(mailId)){				
							alert("${NotiUsrMailValidateMsg}"+"\n" + mailId);
							return false;
						}
					}			
				
			}  
            		
        	}
	}
	
	

	return true;
});

function WindowCloseHanlder()
{
 
try{
	if(parent.window.opener !== null)
	{

//	alert(parent.window.opener.hideMask());
	parent.window.opener.hideMask();
	parent.window.opener.setTimeout('hideScreenMask()');
	//document.getElementById("MSAI_GRAY_OUT").style.visibility='hidden';	
	}
	}catch(e)
	{}
} 

function fsubmit(){


		checknsubmit();

	
}

function postFormSubmit(respObj) {

				window.top.close();
}

	
function fcancel(){
	
	window.top.close();
}
</script>