#parse("fastform/MS_RGA/MS_RGA_ORB_RELATIONS_JS.js")
#parse("fastform/MS_RGA/MS_RGA_COMMON_JS.js")
<script>
#parse("fastform/MS_RGA/MS_RGA_GRID_EDITOR_PLUGIN.js")
window.onbeforeunload = WindowCloseHanlder;

F.onLoad(function() { 


document.getElementById("MSAI_TD_ALERT_TITLE_1").style.textAlign = "left";
document.getElementById("MSAI_TD_CHANNEL_NAME_1").style.Align = "center";
document.getElementById("MSAI_TD_CHANNEL_NAME_1").style.textAlign = "center";
document.getElementById("MSAI_TD_RECIEVED_ON_1").style.Align = "right";
document.getElementById("MSAI_TD_RECIEVED_ON_1").style.textAlign = "right";

    if (typeof this.href === "undefined") {
           url = document.location.toString();
	}
	else {
           url = this.href.toString();
	}
      	arr=url.split("ChName/*-*/");
      	var chname1=arr[1];
        var chname=chname1.replace(/%20/g," ");
	F.CHANNEL_NAME.writeValue(chname, chname);
        recive=url.split("Recievedon");
       F.RECIEVED_ON.writeValue(recive[1], recive[1]);
       
var tool=document.getElementById("MSAI_337");
//tool.innerHTML=tool.innerHTML+"<A href=\"javascript:fcancel()\"><IMG style=\"PADDING-RIGHT: 0px\" alt=\"Cancel the changes made to this form\" align=right src=\"/images/icons/cross.png\"></A> <A id=msai_submit href=\"javascript:fsubmit()\"><IMG alt=\"Submits for processing it to the next step\" align=right src=\"/images/icons/tick.png\">"

tool.innerHTML= "<td> <div align=right><A id=msai_submit href=\"javascript:fsubmit()\"><IMG alt=\"Submits for processing it to the next step\"  src=\"/images/icons/tick.png\"></A><A href=\"javascript:fcancel()\"><IMG style=\"PADDING-RIGHT: 0px\" alt=\"Cancel the changes made to this form\"  align=right src=\"/images/icons/cross.png\"></A></div></td>"+tool.innerHTML ;
 
 //showToolbar_new();                                         
/*F.toolBar.hideControl("edit");                  //To conditionally hide the 'edit' button from the toolbar
F.toolBar.hideControl("viewreport");            //To conditionally hide the 'Change History Report' button from the toolbar
F.toolBar.hideControl("saveandclose");          //To conditionally hide the 'Save and Close' button from the toolbar
F.toolBar.hideControl("save");*/
var el = document.getElementById('MSAI_267');
if(el!==null){
//    el.style="text-align: right";
el.align="right";
el.style.paddingRight="20px";
}
F.COMMENT_HISTORY.write('');
F.COMMENT_HISTORY.makeRequired();
for (i=1;i<=F.ORB.getRowCount();i++)
    {
      
     if(F.TGT_OBJ_ID.read(i)===''||F.TGT_OBJ_ID.read(i)===null ||F.TGT_OBJ_ID.read(i)=='null' )
       {
           F.ORB.deleteRow(i); 
           
       }
     }


         
 F.DD_CURRENT_STAGE.callInfolet();	
F.DD_PROCESS_CODE.write('MS_RGA_CREATE_RELATION_WF');
showHideReportLinks();
includeORB();
/*if(null!=GraphEditor.mask){
		GraphEditor.mask.hide();
	}*/
if(document.getElementById("MSAI_11")!==null){
	document.getElementById("MSAI_11").style.width="400px";
}
});

F.onSubmit(function() { 

if (F.COMMENT_HISTORY.read()!=='')
{
// alert('Object Relations Submitted');
}


    var obj_type;
	F.OBJ_CHNG_HSTRY.write('');

for (i=1;i<=F.ORB.getRowCount();i++)
    {
	 if ( ! F.ORB.isMarkedForDeletion(i))
	 {
	if (F.TGT_OBJ_TYPE.read(i)!=obj_type)
			{
				obj_type=F.TGT_OBJ_TYPE.read(i);
			if (i!=1)
				{
					F.OBJ_CHNG_HSTRY.write(F.OBJ_CHNG_HSTRY.read()+ '\n\n');
				}
				F.OBJ_CHNG_HSTRY.write(F.OBJ_CHNG_HSTRY.read()+obj_type + ':'+'\n'+'\t'+ F.TGT_OBJ_NAME.read(i));
			}
	else
			{
				F.OBJ_CHNG_HSTRY.write(F.OBJ_CHNG_HSTRY.read() + ','+F.TGT_OBJ_NAME.read(i));
			}
		}
    }
return true;
});





F.ORB.afterAddRow(function() { 

//alert('testafteradd');


});


function WindowCloseHanlder()
{
 
try{
	if(parent.window.opener !== null)
	{

//	alert(parent.window.opener.hideMask());
	parent.window.opener.hideMask();
	parent.window.opener.setTimeout('hideScreenMask()');
	//document.getElementById("MSAI_GRAY_OUT").style.visibility='hidden';	
	}
	}catch(e)
	{}
} 

function fsubmit(){


		checknsubmit();

	
}

function postFormSubmit(respObj) {

				window.top.close();
}

	
function fcancel(){
	
	window.top.close();
}
</script>