A.expandspot { 
              color:#008000; 
              cursor:hand; 
              font-style:italic; 
              text-decoration:none;  }
SPAN.expandtext { 
                 font-style:italic; 
                 font-weight:normal; 
                 color:#ff0000;  }
A.dropspot { 
            cursor:hand; 
            color:#008000; 
            font-style:italic; 
            text-decoration:none;  }
A.glossterm { 
             color:#800000; 
             cursor:hand; 
             font-style:italic; 
             text-decoration:none;  }
SPAN.glosstext { 
                font-style:italic; 
                font-weight:normal; 
                color:#0000ff;  }
d with Adobe RoboHelp.*/ LI.p { 
                               font-size:12.0pt; 
                               font-family:Times New Roman;  }
h1 { 
    margin-top:12.5pt; 
    margin-right:1pt; 
    text-autospace:none; 
    border:none; 
    padding:0in; 
    font-weight:bold; 
    font-variant:normal; 
    color:#0000ff; 
    margin-left:1pt; 
    margin-bottom:3.5pt; 
    font-size:14pt; 
    border-bottom-style:Solid; 
    border-bottom-width:2px; 
    border-bottom-color:#ba4f01; 
    font-family:"Book Antiqua"  , serif;  }
LI.h1 { 
       text-autospace:none; 
       font-weight:bold; 
       font-variant:normal; 
       color:#0000ff; 
       font-size:14pt; 
       font-family:"Book Antiqua"  , serif;  }
Heading2HD2 { 
             margin-top:12.0pt; 
             margin-right:0in; 
             margin-bottom:6.0pt; 
             margin-left:0in; 
             font-size:16.0pt; 
             font-family:Book Antiqua; 
             font-weight:bold;  }
h3 { 
    margin-top:6.0pt; 
    margin-right:1pt; 
    margin-bottom:6.0pt; 
    margin-left:1pt; 
    text-autospace:none; 
    font-size:11.0pt; 
    font-weight:bold; 
    font-family:Arial, sans-serif;  }
LI.h3 { 
       text-autospace:none; 
       font-size:11.0pt; 
       font-weight:bold; 
       font-family:Arial, sans-serif;  }
Heading4Heading4CharHeading4Char1CharHeading4CharCharCharHeading4Char1CharCharCharHeading4CharCharCharCharCharHeading4CharCharCharCharCharCharCharHeading4CharChar1CharCharCharHeading4CharCharChar1 { 
                                                                                                                                                                                                      margin-top:8.0pt; 
                                                                                                                                                                                                      margin-right:0in; 
                                                                                                                                                                                                      margin-bottom:6.0pt; 
                                                                                                                                                                                                      margin-left:0in; 
                                                                                                                                                                                                      text-align:justify; 
                                                                                                                                                                                                      text-autospace:none; 
                                                                                                                                                                                                      font-size:11.0pt; 
                                                                                                                                                                                                      font-family:Book Antiqua; 
                                                                                                                                                                                                      font-weight:bold;  }
h5 { 
    margin:0in; 
    margin-bottom:.0001pt; 
    font-size:11.0pt; 
    font-family:Book Antiqua; 
    font-weight:bold;  }
LI.h5 { 
       font-size:11.0pt; 
       font-family:Book Antiqua; 
       font-weight:bold;  }
h6 { 
    margin:0in; 
    margin-bottom:.0001pt; 
    font-size:9.0pt; 
    font-family:Verdana; 
    color:#000000; 
    font-weight:normal;  }
LI.h6 { 
       font-size:9.0pt; 
       font-family:Verdana; 
       color:#000000; 
       font-weight:normal;  }
p.Heading7 { 
            margin:0in; 
            margin-bottom:.0001pt; 
            font-size:9.0pt; 
            font-family:Verdana;  }
LI.p-Heading7 { 
               font-size:9.0pt; 
               font-family:Verdana;  }
p.Heading8 { 
            margin:0in; 
            margin-bottom:.0001pt; 
            font-size:10.0pt; 
            font-family:Book Antiqua; 
            color:#000000; 
            font-weight:bold;  }
LI.p-Heading8 { 
               font-size:10.0pt; 
               font-family:Book Antiqua; 
               color:#000000; 
               font-weight:bold;  }
p.Heading9 { 
            margin-top:12.0pt; 
            margin-right:1pt; 
            margin-bottom:3.0pt; 
            margin-left:1pt; 
            font-size:11.0pt; 
            font-family:Arial;  }
LI.p-Heading9 { 
               font-size:11.0pt; 
               font-family:Arial;  }
p.Index1 { 
          margin-top:6.0pt; 
          margin-right:1pt; 
          margin-bottom:6.0pt; 
          margin-left:12.0pt; 
          text-indent:0; 
          font-size:12.0pt; 
          font-family:Book Antiqua;  }
LI.p-Index1 { 
             text-indent:0; 
             font-size:12.0pt; 
             font-family:Book Antiqua;  }
p.Index2 { 
          margin-top:1pt; 
          margin-right:1pt; 
          margin-bottom:.0001pt; 
          margin-left:24.0pt; 
          text-indent:0; 
          font-size:12.0pt; 
          font-family:Times New Roman;  }
LI.p-Index2 { 
             text-indent:0; 
             font-size:12.0pt; 
             font-family:Times New Roman;  }
p.Index3 { 
          margin-top:1pt; 
          margin-right:1pt; 
          margin-bottom:.0001pt; 
          margin-left:.5in; 
          text-indent:0; 
          font-size:12.0pt; 
          font-family:Times New Roman;  }
LI.p-Index3 { 
             text-indent:0; 
             font-size:12.0pt; 
             font-family:Times New Roman;  }
p.Index4 { 
          margin-top:1pt; 
          margin-right:1pt; 
          margin-bottom:.0001pt; 
          margin-left:48.0pt; 
          text-indent:0; 
          font-size:12.0pt; 
          font-family:Times New Roman;  }
LI.p-Index4 { 
             text-indent:0; 
             font-size:12.0pt; 
             font-family:Times New Roman;  }
p.Index5 { 
          margin-top:1pt; 
          margin-right:1pt; 
          margin-bottom:.0001pt; 
          margin-left:60.0pt; 
          text-indent:0; 
          font-size:12.0pt; 
          font-family:Times New Roman;  }
LI.p-Index5 { 
             text-indent:0; 
             font-size:12.0pt; 
             font-family:Times New Roman;  }
p.Index6 { 
          margin-top:1pt; 
          margin-right:1pt; 
          margin-bottom:.0001pt; 
          margin-left:1.0in; 
          text-indent:0; 
          font-size:12.0pt; 
          font-family:Times New Roman;  }
LI.p-Index6 { 
             text-indent:0; 
             font-size:12.0pt; 
             font-family:Times New Roman;  }
p.Index7 { 
          margin-top:1pt; 
          margin-right:1pt; 
          margin-bottom:.0001pt; 
          margin-left:84.0pt; 
          text-indent:0; 
          font-size:12.0pt; 
          font-family:Times New Roman;  }
LI.p-Index7 { 
             text-indent:0; 
             font-size:12.0pt; 
             font-family:Times New Roman;  }
p.Index8 { 
          margin-top:1pt; 
          margin-right:1pt; 
          margin-bottom:.0001pt; 
          margin-left:96.0pt; 
          text-indent:0; 
          font-size:12.0pt; 
          font-family:Times New Roman;  }
LI.p-Index8 { 
             text-indent:0; 
             font-size:12.0pt; 
             font-family:Times New Roman;  }
p.Index9 { 
          margin-top:1pt; 
          margin-right:1pt; 
          margin-bottom:.0001pt; 
          margin-left:1.5in; 
          text-indent:0; 
          font-size:12.0pt; 
          font-family:Times New Roman;  }
LI.p-Index9 { 
             text-indent:0; 
             font-size:12.0pt; 
             font-family:Times New Roman;  }
p.Toc3 { 
        margin-top:2.0pt; 
        margin-right:1pt; 
        margin-bottom:2.0pt; 
        margin-left:.4in; 
        font-size:12.0pt; 
        font-family:Book Antiqua;  }
LI.p-Toc3 { 
           font-size:12.0pt; 
           font-family:Book Antiqua;  }
p.Toc4 { 
        margin-top:1pt; 
        margin-right:1pt; 
        margin-bottom:.0001pt; 
        margin-left:.5in; 
        font-size:12.0pt; 
        font-family:Times New Roman;  }
LI.p-Toc4 { 
           font-size:12.0pt; 
           font-family:Times New Roman;  }
p.Toc5 { 
        margin-top:1pt; 
        margin-right:1pt; 
        margin-bottom:.0001pt; 
        margin-left:48.0pt; 
        font-size:12.0pt; 
        font-family:Times New Roman;  }
LI.p-Toc5 { 
           font-size:12.0pt; 
           font-family:Times New Roman;  }
p.Toc6 { 
        margin-top:1pt; 
        margin-right:1pt; 
        margin-bottom:.0001pt; 
        margin-left:60.0pt; 
        font-size:12.0pt; 
        font-family:Times New Roman;  }
LI.p-Toc6 { 
           font-size:12.0pt; 
           font-family:Times New Roman;  }
p.Toc7 { 
        margin-top:1pt; 
        margin-right:1pt; 
        margin-bottom:.0001pt; 
        margin-left:1.0in; 
        font-size:12.0pt; 
        font-family:Times New Roman;  }
LI.p-Toc7 { 
           font-size:12.0pt; 
           font-family:Times New Roman;  }
p.Toc8 { 
        margin-top:1pt; 
        margin-right:1pt; 
        margin-bottom:.0001pt; 
        margin-left:84.0pt; 
        font-size:12.0pt; 
        font-family:Times New Roman;  }
LI.p-Toc8 { 
           font-size:12.0pt; 
           font-family:Times New Roman;  }
p.CommentText { 
               margin:0in; 
               margin-bottom:.0001pt; 
               font-size:10.0pt; 
               font-family:Times New Roman;  }
LI.p-CommentText { 
                  font-size:10.0pt; 
                  font-family:Times New Roman;  }
p.Header { 
          margin:0in; 
          margin-bottom:.0001pt; 
          font-size:9.0pt; 
          font-family:Book Antiqua; 
          font-style:italic;  }
LI.p-Header { 
             font-size:9.0pt; 
             font-family:Book Antiqua; 
             font-style:italic;  }
p.FooterFooter1Footer11Footer12Footer13Footer14Footer15Footer16Footer17Footer18Footer19Footer110Footer111Footer112Footer113Footer114Footer115Footer116Footer117Footer118Footer119Footer120Footer121Footer122Footer123Footer1110 { 
                                                                                                                                                                                                                                 margin:0in; 
                                                                                                                                                                                                                                 margin-bottom:.0001pt; 
                                                                                                                                                                                                                                 font-size:9.0pt; 
                                                                                                                                                                                                                                 font-family:Book Antiqua;  }
LI.p-FooterFooter1Footer11Footer12Footer13Footer14Footer15Footer16Footer17Footer18Footer19Footer110Footer111Footer112Footer113Footer114Footer115Footer116Footer117Footer118Footer119Footer120Footer121Footer122Footer123Footer1110 { 
                                                                                                                                                                                                                                    font-size:9.0pt; 
                                                                                                                                                                                                                                    font-family:Book Antiqua;  }
p.IndexHeading { 
                margin-top:12.0pt; 
                margin-right:1pt; 
                margin-bottom:6.0pt; 
                margin-left:1pt; 
                text-align:center; 
                font-size:12.0pt; 
                font-family:Book Antiqua; 
                font-weight:bold;  }
LI.p-IndexHeading { 
                   text-align:center; 
                   font-size:12.0pt; 
                   font-family:Book Antiqua; 
                   font-weight:bold;  }
p.Caption { 
           margin-top:6.0pt; 
           margin-right:1pt; 
           margin-bottom:6.0pt; 
           margin-left:1pt; 
           font-size:10.0pt; 
           font-family:Times New Roman; 
           font-weight:bold;  }
LI.p-Caption { 
              font-size:10.0pt; 
              font-family:Times New Roman; 
              font-weight:bold;  }
span.CommentReference {  }
p.ListNumber { 
              margin-top:1pt; 
              margin-right:1pt; 
              margin-bottom:.0001pt; 
              margin-left:.25in; 
              text-indent:0; 
              font-size:12.0pt; 
              font-family:Times New Roman;  }
LI.p-ListNumber { 
                 text-indent:0; 
                 font-size:12.0pt; 
                 font-family:Times New Roman;  }
p.ListBullet2 { 
               margin-top:1pt; 
               margin-right:1pt; 
               margin-bottom:.0001pt; 
               margin-left:.5in; 
               text-indent:0; 
               font-size:10pt; 
               font-family:"Book Antiqua"  , serif;  }
LI.p-ListBullet2 { 
                  text-indent:0; 
                  font-size:10pt; 
                  font-family:"Book Antiqua"  , serif;  }
p.ListBullet3 { 
               margin-top:1pt; 
               margin-right:1pt; 
               margin-bottom:.0001pt; 
               margin-left:.75in; 
               text-indent:0; 
               font-size:12.0pt; 
               font-family:Times New Roman;  }
LI.p-ListBullet3 { 
                  text-indent:0; 
                  font-size:12.0pt; 
                  font-family:Times New Roman;  }
p.ListBullet4 { 
               margin-top:1pt; 
               margin-right:1pt; 
               margin-bottom:.0001pt; 
               margin-left:1.0in; 
               text-indent:0; 
               font-size:12.0pt; 
               font-family:Times New Roman;  }
LI.p-ListBullet4 { 
                  text-indent:0; 
                  font-size:12.0pt; 
                  font-family:Times New Roman;  }
p.ListBullet5 { 
               margin-top:1pt; 
               margin-right:1pt; 
               margin-bottom:.0001pt; 
               margin-left:1.25in; 
               text-indent:0; 
               font-size:12.0pt; 
               font-family:Times New Roman;  }
LI.p-ListBullet5 { 
                  text-indent:0; 
                  font-size:12.0pt; 
                  font-family:Times New Roman;  }
p.ListNumber2 { 
               margin-top:1pt; 
               margin-right:1pt; 
               margin-bottom:.0001pt; 
               margin-left:.5in; 
               text-indent:0; 
               font-size:12.0pt; 
               font-family:Times New Roman;  }
LI.p-ListNumber2 { 
                  text-indent:0; 
                  font-size:12.0pt; 
                  font-family:Times New Roman;  }
p.ListNumber3 { 
               margin-top:1pt; 
               margin-right:1pt; 
               margin-bottom:.0001pt; 
               margin-left:.75in; 
               text-indent:0; 
               font-size:12.0pt; 
               font-family:Times New Roman;  }
LI.p-ListNumber3 { 
                  text-indent:0; 
                  font-size:12.0pt; 
                  font-family:Times New Roman;  }
p.ListNumber4 { 
               margin-top:1pt; 
               margin-right:1pt; 
               margin-bottom:.0001pt; 
               margin-left:1.0in; 
               text-indent:0; 
               font-size:12.0pt; 
               font-family:Times New Roman;  }
LI.p-ListNumber4 { 
                  text-indent:0; 
                  font-size:12.0pt; 
                  font-family:Times New Roman;  }
p.ListNumber5 { 
               margin-top:1pt; 
               margin-right:1pt; 
               margin-bottom:.0001pt; 
               margin-left:1.25in; 
               text-indent:0; 
               font-size:12.0pt; 
               font-family:Times New Roman;  }
LI.p-ListNumber5 { 
                  text-indent:0; 
                  font-size:12.0pt; 
                  font-family:Times New Roman;  }
p.Title { 
         margin-top:12.0pt; 
         margin-right:1pt; 
         margin-bottom:3.0pt; 
         margin-left:3.0in; 
         text-align:center; 
         font-size:18.0pt; 
         font-family:Book Antiqua; 
         font-weight:bold;  }
LI.p-Title { 
            text-align:center; 
            font-size:18.0pt; 
            font-family:Book Antiqua; 
            font-weight:bold;  }
p.BodyTextbodytextbtText { 
                          margin-top:4.0pt; 
                          margin-right:1pt; 
                          margin-bottom:4.0pt; 
                          margin-left:.25in; 
                          text-align:justify; 
                          line-height:150%; 
                          font-size:10.0pt; 
                          font-family:"Book Antiqua"  , serif;  }
LI.p-BodyTextbodytextbtText { 
                             text-align:justify; 
                             line-height:150%; 
                             font-size:10.0pt; 
                             font-family:"Book Antiqua"  , serif;  }
p.ListContinue2 { 
                 margin-top:1pt; 
                 margin-right:1pt; 
                 margin-bottom:6.0pt; 
                 margin-left:.5in; 
                 text-autospace:none; 
                 font-size:12.0pt; 
                 font-family:Times New Roman;  }
LI.p-ListContinue2 { 
                    text-autospace:none; 
                    font-size:12.0pt; 
                    font-family:Times New Roman;  }
p.BodyTextFirstIndent { 
                       margin-top:1pt; 
                       margin-right:1pt; 
                       margin-bottom:6.0pt; 
                       margin-left:1pt; 
                       text-indent:10.5pt; 
                       font-size:12.0pt; 
                       font-family:Times New Roman;  }
LI.p-BodyTextFirstIndent { 
                          text-indent:10.5pt; 
                          font-size:12.0pt; 
                          font-family:Times New Roman;  }
p.BodyText2 { 
             margin-top:1pt; 
             margin-right:1pt; 
             margin-bottom:6.0pt; 
             margin-left:1pt; 
             line-height:200%; 
             font-size:10pt; 
             font-family:"Book Antiqua"  , serif;  }
LI.p-BodyText2 { 
                line-height:200%; 
                font-size:10pt; 
                font-family:"Book Antiqua"  , serif;  }
a:link { 
        color:#0000ff; 
        text-underline:single; 
        text-decoration:underline;  }
span.Hyperlink { 
                color:#0000ff; 
                text-underline:single; 
                text-decoration:underline;  }
a:visited { 
           color:#800080; 
           text-underline:single; 
           text-decoration:underline;  }
span.HyperlinkFollowed { 
                        color:#800080; 
                        text-underline:single; 
                        text-decoration:underline;  }
p.DocumentMap { 
               margin:0in; 
               margin-bottom:.0001pt; 
               background:#000080; 
               font-size:12.0pt; 
               font-family:Tahoma;  }
LI.p-DocumentMap { 
                  font-size:12.0pt; 
                  font-family:Tahoma;  }
p.PlainText { 
             margin:0in; 
             margin-bottom:.0001pt; 
             font-size:10.0pt; 
             font-family:Courier New;  }
LI.p-PlainText { 
                font-size:10.0pt; 
                font-family:Courier New;  }
span.bodytextCharbtCharText { 
                             font-family:Book Antiqua;  }
p.Picture { 
           margin-top:6.0pt; 
           margin-right:1pt; 
           margin-bottom:12.0pt; 
           margin-left:.25in; 
           text-align:justify; 
           line-height:150%; 
           font-size:10.0pt; 
           font-family:Book Antiqua;  }
LI.p-Picture { 
              text-align:justify; 
              line-height:150%; 
              font-size:10.0pt; 
              font-family:Book Antiqua;  }
p.Instruction { 
               margin-top:3.0pt; 
               margin-right:1pt; 
               margin-bottom:3.0pt; 
               margin-left:.5in; 
               text-align:justify; 
               text-indent:0; 
               line-height:150%; 
               font-size:10.0pt; 
               font-family:Book Antiqua;  }
LI.p-Instruction { 
                  text-align:justify; 
                  text-indent:0; 
                  line-height:150%; 
                  font-size:10.0pt; 
                  font-family:Book Antiqua;  }
p.TableBullet { 
               margin-top:2.0pt; 
               margin-right:1pt; 
               margin-bottom:2.0pt; 
               margin-left:.25in; 
               text-indent:0; 
               font-size:10.0pt; 
               font-family:Book Antiqua;  }
LI.p-TableBullet { 
                  text-indent:0; 
                  font-size:10.0pt; 
                  font-family:Book Antiqua;  }
p.T { 
     margin-top:12.0pt; 
     margin-right:1pt; 
     margin-bottom:.25in; 
     margin-left:1pt; 
     text-align:center; 
     font-size:16.0pt; 
     font-family:Book Antiqua; 
     font-weight:bold;  }
LI.p-T { 
        text-align:center; 
        font-size:16.0pt; 
        font-family:Book Antiqua; 
        font-weight:bold;  }
p.CRtext { 
          margin-top:4.0pt; 
          margin-right:1pt; 
          margin-bottom:4.0pt; 
          margin-left:.1in; 
          text-align:justify; 
          line-height:150%; 
          font-size:10.0pt; 
          font-family:Book Antiqua;  }
LI.p-CRtext { 
             text-align:justify; 
             line-height:150%; 
             font-size:10.0pt; 
             font-family:Book Antiqua;  }
p.Result { 
          margin-top:12.0pt; 
          margin-right:1pt; 
          margin-bottom:6.0pt; 
          margin-left:.25in; 
          text-align:justify; 
          line-height:150%; 
          font-size:10.0pt; 
          font-family:Book Antiqua;  }
LI.p-Result { 
             text-align:justify; 
             line-height:150%; 
             font-size:10.0pt; 
             font-family:Book Antiqua;  }
p.Bullet { 
          margin-top:4.0pt; 
          margin-right:1pt; 
          margin-bottom:4.0pt; 
          font-size:10.0pt; 
          text-align:Left; 
          margin-left:1pt; 
          font-family:"Book Antiqua"  , serif;  }
LI.p-Bullet { 
             font-size:10.0pt; 
             text-align:Left; 
             font-family:"Book Antiqua"  , serif;  }
p.TableList { 
             margin-top:2.0pt; 
             margin-right:1pt; 
             margin-bottom:2.0pt; 
             margin-left:.25in; 
             text-indent:0; 
             font-size:10.0pt; 
             font-family:"Book Antiqua"  , serif;  }
LI.p-TableList { 
                text-indent:0; 
                font-size:10.0pt; 
                font-family:"Book Antiqua"  , serif;  }
P.TableText { 
             margin:0in; 
             margin-bottom:.0001pt; 
             text-autospace:none; 
             font-size:10.0pt; 
             font-weight:normal; 
             font-style:normal; 
             font-family:"Book Antiqua"  , serif;  }
LI.P-TableText { 
                text-autospace:none; 
                font-size:10.0pt; 
                font-weight:normal; 
                font-style:normal; 
                font-family:"Book Antiqua"  , serif;  }
p.TableHeading { 
                margin:0in; 
                margin-bottom:.0001pt; 
                text-autospace:none; 
                font-size:10.0pt; 
                font-weight:bold; 
                font-family:"Book Antiqua"  , serif;  }
LI.p-TableHeading { 
                   text-autospace:none; 
                   font-size:10.0pt; 
                   font-weight:bold; 
                   font-family:"Book Antiqua"  , serif;  }
p.CoverPageHeading { 
                    margin-top:10.0pt; 
                    margin-right:1pt; 
                    margin-bottom:10.0pt; 
                    margin-left:1pt; 
                    text-align:right; 
                    text-autospace:none; 
                    font-size:20.0pt; 
                    font-family:Book Antiqua; 
                    font-variant:small-caps; 
                    font-weight:bold; 
                    font-style:italic;  }
LI.p-CoverPageHeading { 
                       text-align:right; 
                       text-autospace:none; 
                       font-size:20.0pt; 
                       font-family:Book Antiqua; 
                       font-variant:small-caps; 
                       font-weight:bold; 
                       font-style:italic;  }
p.MetricStream { 
                margin-top:1pt; 
                margin-right:1pt; 
                margin-bottom:.0001pt; 
                margin-left:.5in; 
                text-align:right; 
                font-size:12.0pt; 
                font-family:Book Antiqua; 
                font-weight:bold;  }
LI.p-MetricStream { 
                   text-align:right; 
                   font-size:12.0pt; 
                   font-family:Book Antiqua; 
                   font-weight:bold;  }
p.Glossary { 
            margin-top:6.0pt; 
            margin-right:1pt; 
            margin-bottom:12.0pt; 
            margin-left:1pt; 
            border:none; 
            padding:0in; 
            font-size:18.0pt; 
            font-family:Book Antiqua; 
            font-weight:bold;  }
LI.p-Glossary { 
               font-size:18.0pt; 
               font-family:Book Antiqua; 
               font-weight:bold;  }
p.GlossaryText { 
                margin-top:6.0pt; 
                margin-right:1pt; 
                margin-bottom:6.0pt; 
                margin-left:1pt; 
                font-size:10.0pt; 
                font-family:Book Antiqua;  }
LI.p-GlossaryText { 
                   font-size:10.0pt; 
                   font-family:Book Antiqua;  }
p.hfhf { 
        margin-top:1pt; 
        margin-right:1pt; 
        margin-bottom:.0001pt; 
        margin-left:.5in; 
        text-indent:0; 
        font-size:12.0pt; 
        font-family:Times New Roman;  }
LI.p-hfhf { 
           text-indent:0; 
           font-size:12.0pt; 
           font-family:Times New Roman;  }
p.note { 
        margin-top:1pt; 
        margin-right:1pt; 
        margin-bottom:.0001pt; 
        font-size:10.0pt; 
        font-style:italic; 
        color:#0000ff; 
        text-indent:0; 
        margin-left:1pt; 
        list-style:square; 
        font-family:"Book Antiqua"  , serif;  }
LI.p-note { 
           font-size:10.0pt; 
           font-style:italic; 
           color:#0000ff; 
           text-indent:0; 
           list-style:square; 
           font-family:"Book Antiqua"  , serif;  }
span.BodyTextFirstIndent { 
                          font-family:Book Antiqua;  }
p.Style1 { 
          margin-top:2.0pt; 
          margin-right:1pt; 
          margin-bottom:2.0pt; 
          margin-left:1pt; 
          font-size:12.0pt; 
          font-family:Book Antiqua;  }
LI.p-Style1 { 
             font-size:12.0pt; 
             font-family:Book Antiqua;  }
p.Heading1OnlineHelp { 
                      margin-top:12.0pt; 
                      margin-right:1pt; 
                      margin-bottom:6.0pt; 
                      margin-left:1pt; 
                      font-size:16.0pt; 
                      font-family:Book Antiqua; 
                      font-weight:bold;  }
LI.p-Heading1OnlineHelp { 
                         font-size:16.0pt; 
                         font-family:Book Antiqua; 
                         font-weight:bold;  }
p.Style2 { 
          margin-top:12.0pt; 
          margin-right:1pt; 
          margin-bottom:6.0pt; 
          margin-left:1pt; 
          font-size:16.0pt; 
          font-family:Book Antiqua; 
          font-weight:bold;  }
LI.p-Style2 { 
             font-size:16.0pt; 
             font-family:Book Antiqua; 
             font-weight:bold;  }
OL { 
    margin-top:0px; 
    margin-bottom:0px;  }
UL { 
    margin-top:0px; 
    margin-bottom:0px;  }
P.Table { 
         border-left-style:Solid; 
         border-right-style:Solid; 
         border-top-style:Solid; 
         border-bottom-style:Solid; 
         border-left-color:#808080; 
         border-right-color:#808080; 
         border-top-color:#808080; 
         border-bottom-color:#808080; 
         border-left-width:1px; 
         border-right-width:1px; 
         border-top-width:1px; 
         border-bottom-width:1px;  }
LI.P-Table {  }
P.Style3 {  }
LI.P-Style3 {  }
H2 { 
    font-family:Arial, sans-serif; 
    color:#0000ff; 
    font-size:12pt;  }
LI.H2 { 
       font-family:Arial, sans-serif; 
       color:#0000ff; 
       font-size:12pt;  }
