                        <ul class="nav" id="side-menu">
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                <!-- /input-group -->
                            </li>
                            <li>
                                <a href="summary.html"><i class="fa fa-files-o fa-fw"></i> Summary</a>

                            </li>
                            <li>
                                <a href="#"><i class="fa fa-dashboard fa-fw"></i> Dashboard<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="dashboard.html">View All</a>
                                    </li>
<!-- automate data here start -->
                                    <li>
                                        <a href="dashboard.html#">%automate data%</a>
                                    </li>
<!-- automate data here end -->
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                               <ul class="nav nav-second-level">
                                    <li>
                                        <a href="charts.html">View All</a>
                                    </li>
<!-- automate data here start -->
                                    <li>
                                        <a href="chartssub.html#">%automate data%</a>
                                    </li>
<!-- automate data here end -->
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-table fa-fw"></i> Data Tables<span class="fa arrow"></span></a>
                               <ul class="nav nav-second-level">
                                    <li>
                                        <a href="datatables.html">View All</a>
                                    </li>
<!-- automate data here start -->
                                    <li>
                                        <a href="datatablessub.html#">%automate data%</a>
                                    </li>
<!-- automate data here end -->
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-edit fa-fw"></i> Data Forms<span class="fa arrow"></span></a>
                                 <ul class="nav nav-second-level">
                                    <li>
                                        <a href="dataforms.html">View All</a>
                                    </li>
<!-- automate data here start -->
                                    <li>
                                        <a href="dataformssub.html#">%automate data%</a>
                                    </li>
<!-- automate data here end -->
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-wrench fa-fw"></i> Data Browsers<span class="fa arrow"></span></a>
                                 <ul class="nav nav-second-level">
                                    <li>
                                        <a href="databrowsers.html">View All</a>
                                    </li>
<!-- automate data here start -->
                                    <li>
                                        <a href="databrowserssub.html#">%automate data%</a>
                                    </li>
<!-- automate data here end -->
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-sitemap fa-fw"></i> List Of Values<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="listofvalues.html">Sub menu 1</a>
                                    </li>
                                    <li>
                                        <a href="listofvaluessub.html">Sub menu 2</a>
                                    </li>

                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-files-o fa-fw"></i> BluePrint<span class="fa arrow"></span></a>
                                 <ul class="nav nav-second-level">
                                    <li>
                                        <a href="blueprint.html">View All</a>
                                    </li>
<!-- automate data here start -->
                                    <li>
                                        <a href="blueprintsub.html#">%automate data%</a>
                                    </li>
<!-- automate data here end -->
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>

                            <li>
                                <a href="#"><i class="fa fa-cogs fa-fw"></i> Configuration Parameters<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="configuration.html">Sub menu 1</a>
                                    </li>
                                    <li>
                                        <a href="configurationsub.html">Sub menu 2</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-database fa-fw"></i> Data Objects<span class="fa arrow"></span></a>
                                 <ul class="nav nav-second-level">
                                    <li>
                                        <a href="dataobjects.html">View All</a>
                                    </li>
<!-- automate data here start -->
                                    <li>
                                        <a href="dataobjectssub.html#">%automate data%</a>
                                    </li>
<!-- automate data here end -->
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-building fa-fw"></i> Infocenters<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="infocenters.html">View All</a>
                                    </li>
<!-- automate data here start -->
                                    <li>
                                        <a href="infocenterssub.html#">%automate data%</a>
                                    </li>
<!-- automate data here end -->
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-info fa-fw"></i> Infolets<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="infolets.html">Sub Menu 1</a>
                                    </li>
                                    <li>
                                        <a href="infoletssub.html">Sub Menu 2</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-list-alt fa-fw"></i> Reports<span class="fa arrow"></span></a>
                                 <ul class="nav nav-second-level">
                                    <li>
                                        <a href="reports.html">View All</a>
                                    </li>
<!-- automate data here start -->
                                    <li>
                                        <a href="reportssub.html#">%automate data%</a>
                                    </li>
<!-- automate data here end -->
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-calendar fa-fw"></i> Calendar<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="calendar.html">View All</a>
                                    </li>
<!-- automate data here start -->
                                    <li>
                                        <a href="calendarsub.html#">%automate data%</a>
                                    </li>
<!-- automate data here end -->
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>

                            <li>
                                <a href="#"><i class="fa fa-vk fa-fw"></i> WorkFlows<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="workflows.html">View All</a>
                                    </li>
<!-- automate data here start -->
                                    <li>
                                        <a href="workflowssub.html#">%automate data%</a>
                                    </li>
<!-- automate data here end -->
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-adn fa-fw"></i> Activities<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="activities.html">View All</a>
                                    </li>
<!-- automate data here start -->
                                    <li>
                                        <a href="activitiessub.html#">%automate data%</a>
                                    </li>
<!-- automate data here end -->
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-user fa-fw"></i> Roles<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="roles.html">View All</a>
                                    </li>
<!-- automate data here start -->
                                    <li>
                                        <a href="rolessub.html#">%automate data%</a>
                                    </li>
<!-- automate data here end -->
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                        </ul>